@model Demo_ChangTea.Models.NguyenLieu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    th {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    td {
        border: 1px solid black;
        padding: 8px;
    }

    .btn-back {
        padding: 5px;
        text-align: center;
        margin-right: 10px;
        border: 1px solid blue;
        border-radius: 5px;
        width: 100px;
        margin-top: 20px;
    }

        .btn-back:hover {
            color: black;
            background-color: #ffe459;
            transform: scale(1.1);
        }

    .btn-del {
        color: rgba(12,67,150,255);
        margin-right: 10px;
        border: 1px solid blue;
        border-radius: 5px;
        width: fit-content;
        margin-top: 20px;
    }

        .btn-del:hover {
            color: #ffe459;
            background-color: red;
            transform: scale(1.1);
        }
</style>

<h2>
    <b style="color: red;">
        <i class="fa-solid fa-circle-question"></i>
        Bạn có chắc chắn là muốn xóa nguyên liệu này không ?
    </b>
</h2>
<hr />
<div>
    <table class="table table-bordered" style="border-collapse: collapse; width: 70%; margin-left: 20px; font-family: Arial, sans-serif;">
        <tr style="background-color: #ffe459;">
            <th>Thông tin</th>
            <th>Giá trị</th>
        </tr>
        <tr>
            <th>Mã nguyên liệu</th>
            <td>@Html.DisplayFor(model => model.MaNL)</td>
        </tr>
        <tr>
            <th>Tên nguyên liệu</th>
            <td>@Html.DisplayFor(model => model.TenNL)</td>
        </tr>
        <tr>
            <th>Số lượng</th>
            <td>@Html.DisplayFor(model => model.SoLuong)</td>
        </tr>
        <tr>
            <th>Đơn vị</th>
            <td>@Html.DisplayFor(model => model.DonVi)</td>
        </tr>
        <tr>
            <th>Đơn giá</th>
            <td>@Html.Raw(string.Format("{0:0}", Model.DonGia))</td>
        </tr>
        <tr>
            <th>Ngày sản xuất</th>
            <td>@(Model.NgSX.HasValue ? Model.NgSX.Value.ToString("dd/MM/yyyy") : "N/A")</td>
        </tr>
        <tr>
            <th>Hạn sử dụng</th>
            <td>@(Model.HSD.HasValue ? Model.HSD.Value.ToString("dd/MM/yyyy") : "N/A")</td>
        </tr>
        <tr>
            <th>Nhân viên quản lý</th>
            <td>@Html.DisplayFor(model => model.NhanVien.MaNV)</td>
        </tr>
    </table>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="display: flex;">
        <div class="btn-del">
            <input type="submit" value="Xóa" class="btn btn-default text-primary" />
        </div>
        <div class="btn-back">
            @Html.ActionLink("Quay lại", "Index")
        </div>
    </div>
}