@model Demo_ChangTea.Models.NguyenLieu

@{
    ViewBag.Title = "Thông tin chi tiết nguyên liệu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    th {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    td {
        border: 1px solid black;
        padding: 8px;
    }

    .btn-back, .btn-edit {
        margin-right: 10px;
        border: 1px solid blue;
        border-radius: 5px;
        width: fit-content;
        padding: 5px;
        margin-top: 20px;
    }

        .btn-back:hover, .btn-edit:hover {
            color: black;
            background-color: #ffe459;
            transform: scale(1.1);
        }
</style>

<h2><b>Thông tin chi tiết</b></h2>
<hr />
<div>
    <table class="table table-bordered" style="border-collapse: collapse; width: 70%; margin-left: 20px; font-family: Arial, sans-serif;">
        <thead>
            <tr style="background-color: #ffe459;">
                <th>Thông tin</th>
                <th>Giá trị</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mã nguyên liệu</td>
                <td>@Html.DisplayFor(model => model.MaNL)</td>
            </tr>
            <tr>
                <td>Tên nguyên liệu</td>
                <td>@Html.DisplayFor(model => model.TenNL)</td>
            </tr>
            <tr>
                <td>Số lượng</td>
                <td>@Html.DisplayFor(model => model.SoLuong)</td>
            </tr>
            <tr>
                <td>Đơn vị</td>
                <td>@Html.DisplayFor(model => model.DonVi)</td>
            </tr>
            <tr>
                <td>Đơn giá</td>
                <td>@Html.Raw(string.Format("{0:0}", Model.DonGia))</td>
            </tr>
            <tr>
                <td>Ngày sản xuất</td>
                <td>@(Model.NgSX.HasValue ? Model.NgSX.Value.ToString("dd/MM/yyyy") : "N/A")</td>
            </tr>
            <tr>
                <td>Hạn sử dụng</td>
                <td>@(Model.HSD.HasValue ? Model.HSD.Value.ToString("dd/MM/yyyy") : "N/A")</td>
            </tr>
            <tr>
                <td>Nhân viên quản lý</td>
                <td>@Html.DisplayFor(model => model.NhanVien.MaNV)</td>
            </tr>
        </tbody>
    </table>
</div>


<div style="display: flex;">
    <div class="btn-edit">
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaNL })
    </div>
    <div class="btn-back">
        @Html.ActionLink("Quay lại", "Index")
    </div>
</div>
