@model IEnumerable<Demo_ChangTea.Models.NguyenLieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #btn-create {
        border: 1px solid rgba(12,67,150,255);
        padding: 8px;
        color: black;
        width: fit-content;
        background-color: none;
    }

        #btn-create:hover {
            color: black;
            background-color: #ffe459;
            transform: scale(1.1);
        }
</style>

<h2><b>Danh sách các nguyên liệu</b></h2>

<div id="btn-create">
    <i class="fa-solid fa-plus"></i>
    @Html.ActionLink("Thêm nguyên liệu mới", "Create", null, new { @style = "color: black; text-decoration: none;" })
</div>
<table class="table">
    <tr>
        <th>
            Mã số
        </th>
        <th>
            Tên nguyên liệu
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn vị 
        </th>
        <th>
            Đơn giá 
        </th>
        <th>
            Ngày sản xuất
        </th>
        <th>
            Hạn sử dụng
        </th>
        <th>
            Nhân viên quản lý
        </th>
        <th>
            Tùy chọn
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaNL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonVi)
        </td>
        <td>
            @Html.Raw(string.Format("{0:0}", item.DonGia))
        </td>
        <td>
            @(item.NgSX.HasValue ? item.NgSX.Value.ToString("dd/MM/yyyy") : "N/A")
        </td>
        <td>
            @(item.HSD.HasValue ? item.HSD.Value.ToString("dd/MM/yyyy") : "N/A")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.MaNV)
        </td>
        <td>
            <a href="@Url.Action("Edit",new { id = item.MaNL})" class="edit-btn">
                <abbr title="Cập nhật dữ liệu">
                    <img src="/images/edit.png" width="20" height="20" />
                </abbr>
            </a>
            <a href="@Url.Action("Details",new { id = item.MaNL})" class="edit-btn">
                <abbr title="Xem chi tiết">
                    <img src="/images/details.png" width="20" height="20" />
                </abbr>
            </a>
            <a href="@Url.Action("Delete",new { id = item.MaNL})" class="edit-btn">
                <abbr title="Xóa dữ liệu">
                    <img src="/images/delete.png" width="20" height="20" />
                </abbr>
            </a>
        </td>
    </tr>
}

</table>
