@model Demo_ChangTea.Models.HoaDon

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    th {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    td {
        border: 1px solid black;
        padding: 8px;
    }

    .btn-back {
        padding: 5px;
        text-align: center;
        margin-right: 10px;
        border: 1px solid blue;
        border-radius: 5px;
        width: 100px;
        margin-top: 20px;
    }

        .btn-back:hover {
            color: black;
            background-color: #ffe459;
            transform: scale(1.1);
        }

    .btn-del {
        color: rgba(12,67,150,255);
        margin-right: 10px;
        border: 1px solid blue;
        border-radius: 5px;
        width: fit-content;
        margin-top: 20px;
    }

        .btn-del:hover {
            color: #ffe459;
            background-color: red;
            transform: scale(1.1);
        }
</style>


<h2>
    <b style="color: red;">
        <i class="fa-solid fa-circle-question"></i>
        Bạn có chắc chắn là muốn xóa món này không ?
    </b>
</h2>
<hr />
<table style="border-collapse: collapse; width: 70%; margin-left: 20px; font-family: Arial, sans-serif;">
    <thead>
        <tr style="background-color: #ffe459;">
            <th>Thông tin</th>
            <th>Giá trị</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mã hóa đơn</td>
            <td>@Html.DisplayFor(model => model.MaHD)</td>
        </tr>
        <tr>
            <td>Mã đơn hàng</td>
            <td>@Html.DisplayFor(model => model.MaDH)</td>
        </tr>
        <tr>
            <td>Mã khách hàng</td>
            <td>@Html.DisplayFor(model => model.KhachHang.TenKH)</td>
        </tr>
        <tr>
            <td>Thời gian</td>
            <td>@Html.DisplayFor(model => model.ThoiGianLap)</td>
        </tr>
        <tr>
            <td>Nhân viên</td>
            <td>@Html.DisplayFor(model => model.NhanVien.TenNV)</td>
        </tr>
        <tr>
            <td>Giảm giá</td>
            <td>@string.Format("{0:0}%", Model.GiamGia * 100)</td>
        </tr>
        <tr>
            <td>Phương thức thành toán</td>
            <td>@Html.DisplayFor(model => model.PT_ThanhToan.PhuongThuc)</td>
        </tr>
    </tbody>
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="display: flex;">
        <div class="btn-del">
            <input type="submit" value="Xóa" class="btn btn-default" />
        </div>
        <div class="btn-back">
            @Html.ActionLink("Quay lại", "Index")
        </div>
    </div>
}
