@model Demo_ChangTea.Models.HoaDon

@{
    ViewBag.Title = "Cập nhật dữ liệu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #btn-back {
        border: 1px solid blue;
        border-radius: 5px;
        width: fit-content;
        padding: 5px;
        margin-top: 20px;
    }

        #btn-back:hover {
            color: black;
            background-color: #ffe459;
            transform: scale(1.1);
        }

    .btn-save {
        color: rgba(12,67,150,255);
        width: fit-content;
        background-color: none;
    }

        .btn-save:hover {
            color: #ffe459;
            background-color: green;
            transform: scale(1.1);
        }
</style>

<h2><b>Cập nhật sữ liệu hóa đơn</b></h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal d-flex">
    <div>
        <div class="form-group">
            <b>Mã hóa đơn</b>
            <div class="col-md-10" style="width: 200px">
                @Html.EditorFor(model => model.MaHD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaHD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b>Mã đơn hàng</b>
            <div class="col-md-10" style="width: 200px">
                @Html.EditorFor(model => model.MaDH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaDH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b>Nhân viên</b>
            <div class="col-md-10" style="width: 200px">
                @Html.EditorFor(model => model.NhanVien.TenNV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NhanVien.TenNV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b>Phương thức thanh toán</b>
            <div class="col-md-10" style="width: 200px">
                @Html.EditorFor(model => model.PT_ThanhToan.PhuongThuc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PT_ThanhToan.PhuongThuc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="btn-back">
            @Html.ActionLink("Quay lại", "Index")
        </div>
    </div>

    <div class="ms-5">
        <div class="form-group">
            <b>Khách hàng</b>
            <div class="col-md-10" style="width: 200px">
                @Html.EditorFor(model => model.KhachHang.TenKH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KhachHang.TenKH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b>Thời gian</b>
            <div class="col-md-10" style="width: 200px">
                @Html.EditorFor(model => model.ThoiGianLap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ThoiGianLap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b>Giảm giá</b>
            <div class="col-md-10" style="width: 200px">
                @Html.EditorFor(model => model.GiamGia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiamGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-save btn-default btn-outline-primary" />
            </div>
        </div>
    </div>
</div>
}
