@model IEnumerable<Demo_ChangTea.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #btn-create {
        border: 1px solid rgba(12,67,150,255);
        padding: 8px;
        color: black;
        width: fit-content;
        background-color: none;
    }

        #btn-create:hover {
            color: black;
            background-color: #ffe459;
            transform: scale(1.1);
        }
</style>

<h2><b>Lịch sử hóa đơn</b></h2>

<p id="btn-create">
    <i class="fa-solid fa-plus"></i>
    @Html.ActionLink("Thêm hóa đơn", "Create", null, new { @style = "color: black; text-decoration: none;" })
</p>
<table class="table">
    <tr>
        <th>
            Mã hóa đơn
        </th>
        <th>
            Mã đơn hàng
        </th>
        <th>
            Khách hàng
        </th>
        <th>
            Thời gian
        </th>
        <th>
            Nhân viên
        </th>
        <th>
            Giảm giá
        </th>
        <th>
            Phương thức thanh toán
        </th>
        <th>
            Tùy chọn
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaDH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.TenNV)
        </td>
        <td>
            @string.Format("{0:0}%", item.GiamGia * 100)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PT_ThanhToan.PhuongThuc)
        </td>
        <td>
            <a href="@Url.Action("Edit",new { id = item.MaHD})" class="edit-btn">
                <abbr title="Cập nhật dữ liệu">
                    <img src="/images/edit.png" width="20" height="20" />
                </abbr>
            </a>
            <a href="@Url.Action("Details",new { id = item.MaHD})" class="edit-btn">
                <abbr title="Xem chi tiết">
                    <img src="/images/details.png" width="20" height="20" />
                </abbr>
            </a>
            <a href="@Url.Action("Delete",new { id = item.MaHD})" class="edit-btn">
                <abbr title="Xóa dữ liệu">
                    <img src="/images/delete.png" width="20" height="20" />
                </abbr>
            </a>
        </td>
    </tr>
}

</table>
